@import 'setup';
@import 'utils';
@import 'typography';

html {
	font-size: 62.5%;
}

body {
	@include fontSize(16);
	font-family: $primaryFont;
}

h1 {
	color: $red;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 10px;
}

.box {
	width: 75px;
	height: 75px;
	border: 2px solid cornflowerblue;
}
.none {
	background: white;
}
.red {
	background: $red;
}

.blue {
	background: $blue;
}

.yellow {
	background: $yellow;
}

.green {
	background: $green;
}