@import 'setup';
@import 'utils';
@import 'typography';

html {
	font-size: 62.5%;
}

body {
	@include fontSize(16);
	font-family: $primaryFont;
	background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../../images/denise-johnson-463885-unsplash.jpg) no-repeat fixed;
	background-size: cover;
	height: 100vh;
}

h1 {
	color: $red;
	margin: 0;
}
.wrapper {
	max-width: 400px;
	margin: 0 auto;

}
.container {
	display: grid;
	grid-template-columns: repeat(4, minmax(75px, 1fr));
	grid-gap: 10px;
}

.answer {
	// display: none;
}
.box {
	width: 75px;
	height: 75px;
	border: 2px solid cornflowerblue;
}
.none {
	background: white;
}
.red {
	background: $red;
}

.blue {
	background: $blue;
}

.yellow {
	background: $yellow;
}

.green {
	background: $green;
}